<nav>
    <mat-toolbar color="primary" class="toolbar">
      
      <span class="spacer"></span>
      
      <a mat-button routerLink="/" class="nav-link">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-button routerLink="/jobs" class="nav-link">
        <mat-icon>work</mat-icon> Jobs
      </a>
      <a mat-button routerLink="/applications" class="nav-link">
        <mat-icon>assignment</mat-icon> Applications
      </a>
      <a mat-button routerLink="/profile" class="nav-link">
        <mat-icon>person</mat-icon> Profile
      </a>
    </mat-toolbar>
  </nav>
  